{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and Javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    {% block content %}
    <form action="{% url 'principal:editar' idTrabajador=user.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form_trabajador %}
        {% buttons %}
        <input type="submit" value="Editar" id="id_btn_editar" class="btn btn-primary btn-block"/>
        {% endbuttons %}
    </form>
    {% endblock %}
</div>
</body>
</html>