<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Registrarse</h4>
            </div>
            <!--suppress HtmlUnknownTarget -->
            <form action="login" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="btn_login" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Login
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>